.expenses {
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.3px);
    -webkit-backdrop-filter: blur(18.3px);
    border: 1px solid rgba(255, 255, 255, 0.68);
}